*{
    text-decoration: none !important;
    box-sizing: border-box !important;
    padding: 0 !important;
}

:root{
    --blueColor : rgb(29, 155, 240);
    --whiteColor: #fff;
    --blackColor: #000;
}
.bi-twitter{
    color: var(--blueColor) !important;
}
.side-bar button{
    background-color: var(--blueColor);
    color: var(--whiteColor);
    border-radius: 30px !important;
    padding: 10px 70px !important;
    border: none;
    font-size: 1.2rem !important;
    margin-top: 20px !important;
}

/* Sidebar with icon and text, the middle and the last end */
@media only screen and (min-width: 1280px) {
    .sidebar-width{
        width: 23% !important;
    }
    .tweet-width{
        width: 45% !important;
    }
    .trending-width{
        width: 30% !important;
    }
    .side-bar{
        width: calc(100% - 10%);
        float: right !important;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        margin-left: 60px !important;
    }
    .icon{
        width: fit-content;
        height: fit-content;
    }
    .bi{
        font-weight: bold !important;
    }
    .icon p{
        padding: 5px 20px !important;
        font-weight: 400;
    }
    .icon p:hover{
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 30px;
    }
    .icon-text{
        visibility: visible !important;
        font-size: 1.3rem !important;
    }
    .header{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        height: 95px;
    }
}

/* Sidebar with only icon plus the middle plus the last end */
@media only screen and (max-width: 1279px) {
    .icon-text{
        display: none !important;
    }
    .side-bar{
        /* background-color: yellow; */
        float: right !important;
        width: 20% !important;
        border-right: 1px solid rgba(0, 0, 0, 0.2);

    }
    .side-bar button{
        display: none !important;
    }
    
}

/* Sidebar with only icon and the middle */
@media only screen and (max-width: 1002px) {
    
}



/* Small Screen (Only the middle) */
@media only screen and (max-width: 500px) {
    .side-bar{
        display: none !important;
    }
    .trending{
        display: none !important;
    }
}